.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  object-position: top;
}

.card-text{
  font-size:16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:scroll;
  overflow-y: hidden;
}
